body {
  font-family: "Roboto", sans-serif ;
  color: #434455;
  background-color: #ffffff;
  

  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.section {
  padding: 120px 0;
}
 

.page-header {
  /* border-bottom: 1px solid #e7e9fc - рамка кольор*/
  border-bottom: 1px solid #e7e9fc;  
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center; 
  
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header-studio {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.nav-link-list {
  display: flex;
  gap: 40px;
}

.nav-link-item  {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.nav-link-item:hover {
  color: #404BBF;
}

.nav-link-item:focus {
  color: #404BBF;
}



.contacts {
  font-style: normal;
  margin-left: auto;
  display: block;
}

.contacts-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
  align-items: center;
}

.contacts-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.contacts-item:hover {
  color: #404BBF;
}

.contacts-item:focus {
  color: #404BBF;
}



h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 117%;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  letter-spacing: 0.02em;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #434455;
}



.box {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.page-heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding: 48px;
  max-width: 496px;
}

button {
  margin: 0 auto;
  letter-spacing: 0.04em;
}

.order-button {
  color: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
}

.order-button:hover {
  background-color: #404BBF;
}

.order-button:focus {
  background-color: #404BBF;
}
/* section 2 */

.hidden {
  padding: 120px 0;
}

.features-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-list-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}  

.team {
  background-color: #F4F4FD;
}

.team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.team-card-item {
  background-color: #ffffff;
  background: #fff;
}

.team-card-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {
  background-color: #ffffff;
}

.portfolio-project-list {}

.portfolio-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.portfolio-project-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer-studio {
  color: #f4f4fd;
}

.footer-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}